@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('/Bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

*{
    scrollbar-width: thin;
    scrollbar-color: #555 #282828; /* Thumb color, Track color */
}
